$headcol-width: 20px;

tr.bb-console-table-first-row {
  .column {
    width: $headcol-width;
    min-width: $headcol-width;
    max-width: $headcol-width;
  }
  th {
    border: none;
  }
}

.bb-console-table-builder {
  position: relative;
  float: left;
  font-size: 1em;
  width: 1.5em;
  text-align: center;
  transform: rotate(-45deg) translate(-.2em, .8em);
  transform-origin: bottom left;
  text-decoration: none;
  white-space: nowrap;
}

.bb-console-tag-row {
  td {
    margin: 0;
    padding: 0;
  }
  span {
    position: relative;
    float: left;
    font-size: 10px;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
  }
}

.bb-console-changes-expand-icon {
  float: left;
}

.bb-console {
  td.column {
    padding: .2em;
  }
}
