$headcol-width: 20px;

tr.bb-console-table-first-row {
  .column {
    width: $headcol-width;
    min-width: $headcol-width;
    max-width: $headcol-width;
  }
  th {
    border: none;
  }
}

.bb-console-table-builder {
  position: relative;
  float: left;
  font-size: 1em;
  width: 1.5em;
  text-align: center;
  transform: rotate(-45deg) translate(-.2em, .8em);
  transform-origin: bottom left;
  text-decoration: none;
  white-space: nowrap;
}

.bb-console-tag-row {
  td {
    margin: 0;
    padding: 0;
  }
  span {
    position: relative;
    float: left;
    font-size: 10px;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
  }
}

.bb-console-changes-expand-icon {
  float: left;
}

.bb-console {
  td.column {
    padding: .2em;
  }
}

/* Modify the Force Build form to compact a bit everything. */
div.form-group {
  margin: 0;

  div.col-sm-10 {
    display: inline-block;
    width: 80%;
  };

  label {
    display: inline-block;
    width: 20%;
    font-weight: bold;
    margin-bottom: 0;
    top: .5em;
  }

  .control-label {
    text-align: right;
    float: left;
  }

  div.col-sm-10.col-sm-offset-2 {
    width: 100%;
    max-width: 100%;
    label {
      width: 80%;
      float: right;
      padding-left: 8px;
    }
  };

  .row > div.col-sm-6 {
    margin-bottom: 5px;
  }
};
